<html>
<head>
<title>Godel Analytics - Logging in</title>
<script type="text/javascript">
function delayer(){
    window.location = "/#/dashboard"
}
</script>
</head>
<body onLoad="delayer()">
Loading...

<br><pre style="color: #efefef;">
       __   __    __       _______..______      ___   ____    ____         _______.     ___       _______  _______
      |  | |  |  |  |     /       ||   _  \    /   \  \   \  /   /        /       |    /   \     |   ____||   ____|
      |  | |  |  |  |    |   (----`|  |_)  |  /  ^  \  \   \/   /        |   (----`   /  ^  \    |  |__   |  |__
.--.  |  | |  |  |  |     \   \    |   ___/  /  /_\  \  \_    _/          \   \      /  /_\  \   |   __|  |   __|
|  `--'  | |  `--'  | .----)   |   |  |     /  _____  \   |  |        .----)   |    /  _____  \  |  |     |  |____
 \______/   \______/  |_______/    | _|    /__/     \__\  |__|        |_______/    /__/     \__\ |__|     |_______|

</pre>

</body>
</html>
